{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- <main>
  <section class="home">
    <div class="text-area d-flex flex-column justify-center">
      <div class="title">
        Find your dreamhouse with us
      </div>
      <div class="input-area d-flex align-center">
        <input type="text" name="" class="flex-one" placeholder="Search Everything"><i class="material-icons">search</i>  
      </div>
    </div>
    <div class="image-area"></div>
  </section>
  <section>
    <header class="sticky-top">
      Popular Today
    </header>
    <div class="articles">
    	{% for list in latestLists %}
      <article>
        <div class="article-img"><img src="/media/{{list.photo_main}}"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
      {% endfor %}
        

    </div>
  </section>
 <!--    <section>
    <header class="sticky-top">
      Latest Offers
    </header>
    <div class="articles">
      <article>
        <div class="article-img"><img src="{% static 'images/10.jpg' %}"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
       
      
    </div>
  </section> -->
<!-- </main> -->
<main>
  <section class="home">
    <div class="text-area d-flex flex-column justify-center">
      <div class="title">
        Find your dreamhouse with us
      </div>
      <div class="input-area d-flex align-center">
        <input type="text" name="" class="flex-one" placeholder="Search Everything"><i class="material-icons">search</i>  
      </div>
    </div>
    <div class="image-area"></div>
  </section>
  <section>
    <header class="sticky-top">
      Popular Today
    </header>
    <div class="articles">
      <article>
        <div class="article-img"><img src="{% static 'images/10.jpg' %}"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
    </div>
  </section>
    <section>
    <header class="sticky-top">
      Latest Offers
    </header>
    <div class="articles">
      <article>
        <div class="article-img"><img src="{% static 'images/10.jpg' %}"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
          <article>
        <div class="article-img"><img src="{% static 'images/10.jpg' %}"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
          <article>
        <div class="article-img"><img src="{% static 'images/10.jpg' %}"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
          <article>
        <div class="article-img"><img src="{% static 'images/10.jpg' %}"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
          <article>
        <div class="article-img"><img src="{% static 'images/10.jpg' %}"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
          <article>
        <div class="article-img"><img src="{% static 'images/10.jpg' %}"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
          <article>
        <div class="article-img"><img src="{% static 'images/10.jpg' %}"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
      
    </div>
  </section>
</main>
{% endblock %}
 
